In [1]:
# import libraraies

import selenium
from selenium import webdriver
import pandas as pd

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

import warnings
warnings.filterwarnings('ignore')
import time

In [22]:
import pandas as pd
import numpy as np

## Car Dekho

In [82]:
# lets connect to driver

driver= webdriver.Chrome(r'C:\Users\Administrator\Data Science\WebScrapping\chromedriver.exe')
driver.maximize_window()

url='https://www.cardekho.com/used-cars+in+chennai'
driver.get(url)

In [83]:
for _ in range(100):


    driver.execute_script("window.scrollBy(0,1080)")

In [84]:
link= driver.find_elements_by_xpath('//div[@class=" gsc_row minheight"]/div/a')

url=[]
for i in link:
    url.append(i.get_attribute('href'))

In [85]:
len(url)

1059

In [86]:
name=[]
manufacture=[]
model=[]
fuel=[]
driven=[]
automatic=[]
owner=[]
location=[]
postingdate=[]
price=[]


for i in url:
    driver.get(i)
    time.sleep(2)
    # Name
    try:
        title= driver.find_element_by_xpath('//div[@class="paddingBorder clearfix"]/div/h1')
        name.append(title.text.split(' ',1)[1])
        
    except NoSuchElementException:
        name.append('-')
        
    # Manufacture year 
    try:
        title= driver.find_element_by_xpath('//div[@class="paddingBorder clearfix"]/div/h1')
        manufacture.append(title.text.split(' ',1)[0])
    except NoSuchElementException:
        manufacture.append('-')
        
    # Model
    try:
        Model=driver.find_element_by_xpath('//div[@class="paddingBorder clearfix"]/div')
        model.append(Model.text.split('\n')[1])
    except NoSuchElementException:
        model.append('-')
       
    # Fuel Type
    try:
        tab=driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[3]')
        fuel.append(tab.text.split('\n')[1])
    except NoSuchElementException:
        fuel.append('-')
        
    # KM Driven
    try:
        tab=driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[4]')
        driven.append(tab.text.split('\n')[1])
    except NoSuchElementException:
        driven.append('-')
        
    # Automatic/ Manual
    try:
        tab=driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[8]')
        automatic.append(tab.text.split('\n')[1])
    except NoSuchElementException:
        automatic.append('-')
      
    # Owner count
    try:
        Owner=driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[6]')
        owner.append(Owner.text.split('\n')[1])
    except NoSuchElementException:
        owner.append('-')
      
    # Location
    try:
        Location=driver.find_element_by_xpath('//ul[@class="gsc_row detailsList"]/li[7]')
        location.append(Location.text.split('\n')[1])
    except NoSuchElementException:
        location.append('-')
        
    # Posting
    try:
        Posting=driver.find_element_by_xpath('//div[@class="_1l939"]/div[3]/div[2]/div[2]')
        postingdate.append(Posting.text)
    except NoSuchElementException:
        postingdate.append('-')
        
    # Price
    try:
        Price=driver.find_element_by_xpath('//div[@class="paddingBorder clearfix"]/div[2]/div/div')
        price.append(Price.text.split('\n')[0])
    except NoSuchElementException:
        price.append('-')
        
        
        
        
        
        
len(name) , len(model), len(fuel),len(driven),len(automatic) ,len(owner),len(location),len(postingdate),len(price)

(1059, 1059, 1059, 1059, 1059, 1059, 1059, 1059, 1059)

In [87]:
data=pd.DataFrame({'Name': name,'Manufacture':manufacture,'Model':model,'Fuel':fuel,'Driven':driven,'Automatic':automatic,'Owner':owner,'Location':location,'Posting Date':postingdate,'Price':price})
data

,Name,Manufacture,Model,Fuel,Driven,Automatic,Owner,Location,Posting Date,Price
0,Hyundai Grand i10,2018,1.2 Kappa Sportz BSIV,Petrol,"29,313 Kms",Manual,1st Owner,TN12,-,"₹ 5,40,000"
1,Hyundai Grand i10,2016,Asta,Petrol,"17,805 Kms",Manual,1st Owner,TN14,-,"₹ 5,05,000"
2,Mahindra TUV 300,2017,T8,Diesel,"34,136 Kms",Manual,2nd Owner,TN11,-,"₹ 6,90,000"
3,Tata Nexon,2018,1.5 Revotorq XZ,Diesel,"41,947 Kms",Manual,1st Owner,TN11,-,"₹ 8,62,000"
4,Tata Tiago,2021,XZ Plus,Petrol,"10,958 Kms",Manual,1st Owner,TN11,-,"₹ 6,70,000"
...,...,...,...,...,...,...,...,...,...,...
1054,-,-,-,-,-,-,-,-,-,-
1055,-,-,-,-,-,-,-,-,-,-
1056,-,-,-,-,-,-,-,-,-,-
1057,-,-,-,-,-,-,-,-,-,-
1058,-,-,-,-,-,-,-,-,-,-

In [88]:
data.replace('-',np.nan, inplace=True)

In [89]:
data.isnull().sum()

Name             993
Manufacture      993
Model            993
Fuel             993
Driven           993
Automatic        993
Owner            993
Location         993
Posting Date    1059
Price            993
dtype: int64

In [90]:
data=data.drop('Posting Date', axis=1).dropna()

In [91]:
# create excel file
file1 = 'cardekho_chennai.xlsx'

In [92]:
# save data to excel

data.to_excel(file1)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.